<section class="section section-light contact-section">
		<div class="container">
    <div class="contact-flex">
      <div class="contact-info">
        <h1>Contact Us</h1>
        <p>Thanks for wanting to reach out! Here is our information!</p>
        <p>For general questions, please email <b>tbp@njit.edu</b>.</p>
        <p>Our mailing address and office is located at:<br>
          Tau Beta Pi<br>
          FMH 323<br>
          141-153 Warren St,<br>
          Newark, NJ 07103
        </p>
      </div>
      <div class="contact-img">
        <img src="./image/img_7214.jpg" alt="Tau Beta Pi Plaque Image" class="famous-img">
      </div>
    </div>
	</div>
</section>
	<br>
	<br>